.discounts{
  padding: 190px 0 50px;
  background: url('../../assets/img/hero-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
.block__content_discounts{
  max-width: 1250px;
  width: 100%;
}
.discounts__title{
  margin-bottom: 40px;

}
.discounts__slider{
  margin-left: 100px;
  .slider-arrow-prev{
    top: 30%;
    left:-5%;
  }
  .slider-arrow-next{
    top: 30%;
    right: -5%;
  }
}

.discounts__slider-item{
  display: flex !important;
  justify-content: space-between;
  padding: 20px 20px;


}
.discounts__slider-item-img{
  border-radius: 10px;
  position: relative;
}
.discounts__slider-arrow-icon{
  position: absolute;
  right: -18%;
  top: 45%;
  z-index: 100;
}
.discounts__info{
  margin-top: 10px;
  margin-left: 110px;
  display: flex;
  flex-flow: column;
}


.discounts__percents{
  margin-bottom: 60px;
  padding: 15px 0;
  max-width: 310px;
  width: 100%;
  border-radius: 25px;
  background: #FFF;
}
.discounts__percents-number{
  font-size: 96px;
  font-weight: 600;
  line-height: 1.1;
  text-align: center;
}
.discounts__percents-title, .discounts__percents-subtitle{
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
}
.discounts__address{
  max-width: 280px;
  width: 100%;
  text-align: center;
  line-height: 1.2;
}

