/*=================================================Hero section*======================================================*/
.hero{
  background: url('../../assets/img/hero-background.png');
  background-repeat: no-repeat;
  background-size: cover;

}
.block__content_hero{
  position: relative;
  padding: 200px 20px;
svg{
  position: absolute;
  bottom: 5%;
  left: 10%;
}
  @include before-lg(){
    justify-content: center;
    svg{
      display: none;
    }
  }
}
.hero__text{
position: relative;
}
.hero__overlay-text{
 display: flex;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 38px;
  font-size: 20px;
  align-items: center;
  span{
    display: block;
    margin-right: 20px;
    width: 57px;
    height: 1px;
    background: #171717;
  }
  @include before-md(){
    font-size: 14px;
  }
}
.hero__title{
  margin-bottom: 25px;
  max-width: 775px;
  width: 100%;
  word-wrap: break-word;
  font-family: "Prosto One";
  font-size: 47px;
  @include before-lg(){
    font-size: 28px;
    text-align: center;
  }
  @include before-md(){
    font-size: 22px;
  }
}
.hero__subtitle{
  margin-bottom: 28px;
  max-width: 450px;
  width: 100%;
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.4;
  @include before-md(){
    font-size: 18px;
  }
}
.hero__btn{
  display: block;
  text-align: center;
  padding: 31px 35px;
  max-width: 420px;
  width: 100%;
  border-radius: 8px;
  background: #F08E2B;
  color: #FFF;
  font-family: Raleway;
  font-weight: 700;
  transition: all ease-in-out 0.4s;
  &:hover{
    transform: scale(1.05);
  }
  @include before-md(){
    padding: 18px 45px;
  }
}
.hero__car-img{
  position: absolute;
  top: 8%;
  right: 23%;
  transform: translate(50%,-18%);

  img{
    object-fit: contain;
    height: auto;
    max-width: 100%;
    width: 100%;
  }
@include before-xl(){
  top: 30%;
}
  @include before-lg(){
    position: unset;
    transform: unset;
  }
}











/*=================================================/Hero section*======================================================*/